# Explore here

In [2]:
import pandas as pd

In [1]:
import os
import pandas as pd

# Lista de carpetas con datos diarios
carpetas = [
    '/workspaces/Finarosalina_proyecto_final/data/raw/Datos_diarios_2021',
    '/workspaces/Finarosalina_proyecto_final/data/raw/Datos_diarios_2022',
    '/workspaces/Finarosalina_proyecto_final/data/raw/Datos_diarios 2023'  # ojo con el espacio
]

dfs = []

for carpeta in carpetas:
    print(f"Procesando carpeta: {carpeta}")
    # Extraer el año del nombre de la carpeta
    # Por ejemplo, buscar los 4 dígitos de año en el string
    import re
    match = re.search(r'\b(20\d{2})\b', carpeta)
    year = match.group(1) if match else "unknown"
    
    for archivo in os.listdir(carpeta):
        if archivo.endswith('.csv'):
            ruta_csv = os.path.join(carpeta, archivo)
            print(f" Leyendo archivo: {archivo}")
            df_temp = pd.read_csv(ruta_csv, sep=';')  # ajusta separador si es necesario
            df_temp['Year'] = year
            dfs.append(df_temp)

# Combinar todos
df_combinado = pd.concat(dfs, ignore_index=True)
print(f"Datos combinados: {df_combinado.shape}")

# Guardar combinado
df_combinado.to_csv('/workspaces/Finarosalina_proyecto_final/data/processed/datos_combinados.csv', index=False, sep=';')
print("Archivo combinado guardado.")

Procesando carpeta: /workspaces/Finarosalina_proyecto_final/data/raw/Datos_diarios_2021
 Leyendo archivo: PM25_DD_2021.csv
 Leyendo archivo: BaP_DD_2021.csv
 Leyendo archivo: As_DD_2021.csv
 Leyendo archivo: Cd_DD_2021.csv
 Leyendo archivo: PM10_DD_2021.csv
 Leyendo archivo: Ni_DD_2021.csv
 Leyendo archivo: Pb_DD_2021.csv
Procesando carpeta: /workspaces/Finarosalina_proyecto_final/data/raw/Datos_diarios_2022
 Leyendo archivo: Ni_DD_2022.csv
 Leyendo archivo: PM2.5_DD_2022.csv
 Leyendo archivo: B(a)P_DD_2022.csv
 Leyendo archivo: Cd_DD_2022.csv
 Leyendo archivo: PM10_DD_2022.csv
 Leyendo archivo: C6H6_DD_2022.csv
 Leyendo archivo: Pb_DD_2022.csv
 Leyendo archivo: As_DD_2022.csv
Procesando carpeta: /workspaces/Finarosalina_proyecto_final/data/raw/Datos_diarios 2023
 Leyendo archivo: C6H6_DD_2023.csv
 Leyendo archivo: PM2.5_DD_2023.csv
 Leyendo archivo: PM10_DD_2023.csv
 Leyendo archivo: As_DD_2023.csv
 Leyendo archivo: Pb_DD_2023.csv
 Leyendo archivo: Ni_DD_2023.csv
 Leyendo archivo: Cd_DD_2023.csv
 Leyendo archivo: B(a)P_DD_2023.csv
Datos combinados: (37194, 39)
Archivo combinado guardado.

In [2]:
import os
import pandas as pd

In [3]:
def combinar_csv_rutas(ruta_base, archivo_salida):
    dfs = []
    # Recorrer todas las carpetas y subcarpetas
    for carpeta, _, archivos in os.walk(ruta_base):
        print(f"Procesando carpeta: {carpeta}")
        for archivo in archivos:
            if archivo.lower().endswith('.csv'):
                ruta_archivo = os.path.join(carpeta, archivo)
                print(f" Leyendo archivo: {archivo}")
                try:
                    df = pd.read_csv(ruta_archivo, sep=None, engine='python')  # Detectar separador automáticamente
                    dfs.append(df)
                except Exception as e:
                    print(f"  Error leyendo {archivo}: {e}")
    
    if dfs:
        df_combinado = pd.concat(dfs, ignore_index=True)
        print(f"Datos combinados: {df_combinado.shape}")
        df_combinado.to_csv(archivo_salida, index=False)
        print(f"Archivo combinado guardado en: {archivo_salida}")
    else:
        print("No se encontraron archivos CSV para combinar.")

# Uso:
ruta_base = "/workspaces/Finarosalina_proyecto_final/data/raw"
archivo_salida = "/workspaces/Finarosalina_proyecto_final/data/combined_air_quality_data.csv"

combinar_csv_rutas(ruta_base, archivo_salida)

Procesando carpeta: /workspaces/Finarosalina_proyecto_final/data/raw
Procesando carpeta: /workspaces/Finarosalina_proyecto_final/data/raw/diarios_2019_tcm30-513558
 Leyendo archivo: PM25_DD_2019.csv
 Leyendo archivo: As_DD_2019.csv
 Leyendo archivo: Cd_DD_2019.csv
 Leyendo archivo: PM10_DD_2019.csv
 Leyendo archivo: C6H6_DD_2019.csv
 Leyendo archivo: Pb_DD_2019.csv
 Leyendo archivo: BaP_DD_2019.csv
 Leyendo archivo: Ni_DD_2019.csv
Procesando carpeta: /workspaces/Finarosalina_proyecto_final/data/raw/Datos_diarios_2021
 Leyendo archivo: PM25_DD_2021.csv
 Leyendo archivo: BaP_DD_2021.csv
 Leyendo archivo: As_DD_2021.csv

 Leyendo archivo: Cd_DD_2021.csv
 Leyendo archivo: PM10_DD_2021.csv
 Leyendo archivo: Ni_DD_2021.csv
 Leyendo archivo: Pb_DD_2021.csv
Procesando carpeta: /workspaces/Finarosalina_proyecto_final/data/raw/Datos_diarios_2022
 Leyendo archivo: Ni_DD_2022.csv
 Leyendo archivo: PM2.5_DD_2022.csv
 Leyendo archivo: B(a)P_DD_2022.csv
 Leyendo archivo: Cd_DD_2022.csv
 Leyendo archivo: PM10_DD_2022.csv
 Leyendo archivo: C6H6_DD_2022.csv
 Leyendo archivo: Pb_DD_2022.csv
 Leyendo archivo: As_DD_2022.csv
Procesando carpeta: /workspaces/Finarosalina_proyecto_final/data/raw/2020_diarios_2020_tcm30-531263
 Leyendo archivo: B(a)P_DD_2020.csv
 Leyendo archivo: Pb_DD_2020.csv
 Leyendo archivo: PM10_DD_2020.csv
 Leyendo archivo: PM2.5_DD_2020.csv
 Leyendo archivo: Ni_DD_2020.csv
 Leyendo archivo: Cd_DD_2020.csv
 Leyendo archivo: As_DD_2020.csv
 Leyendo archivo: C6H6_DD_2020.csv
Procesando carpeta: /workspaces/Finarosalina_proyecto_final/data/raw/Datos_diarios 2023
 Leyendo archivo: C6H6_DD_2023.csv
 Leyendo archivo: PM2.5_DD_2023.csv
 Leyendo archivo: PM10_DD_2023.csv
 Leyendo archivo: As_DD_2023.csv
 Leyendo archivo: Pb_DD_2023.csv
 Leyendo archivo: Ni_DD_2023.csv
 Leyendo archivo: Cd_DD_2023.csv
 Leyendo archivo: B(a)P_DD_2023.csv
Procesando carpeta: /workspaces/Finarosalina_proyecto_final/data/raw/2018_tcm30-501405
 Leyendo archivo: B(a)P_DD_2018.csv
 Leyendo archivo: Cd_DD_2018.csv
 Leyendo archivo: Ni_DD_2018.csv
 Leyendo archivo: PM2.5_DD_2018.csv
 Leyendo archivo: As_DD_2018.csv
 Leyendo archivo: PM10_DD_2018.csv
 Leyendo archivo: Pb_DD_2018.csv
Procesando carpeta: /workspaces/Finarosalina_proyecto_final/data/raw/2017_diarios_tcm30_2017
 Leyendo archivo: PM10_DD_2017.csv
 Leyendo archivo: B(a)P_DD_2017.csv
 Leyendo archivo: PM2.5_DD_2017.csv
 Leyendo archivo: As_DD_2017.csv
 Leyendo archivo: Pb_DD_2017.csv
 Leyendo archivo: Cd_DD_2017.csv
 Leyendo archivo: Ni_DD_2017.csv
Datos combinados: (86680, 38)
Archivo combinado guardado en: /workspaces/Finarosalina_proyecto_final/data/combined_air_quality_data.csv

Están dando problemas las descargas y lecturas de archivos, porque están esctructurados de forma diferente, por eso hacemos una prueba con menos datos.

para el EDA: 

1. Warning de tipos mezclados (DtypeWarning)

    Las columnas 0, 4, 40, 46 tienen tipos mezclados. Esto suele pasar cuando en algunas filas un dato es numérico y en otras es texto o hay valores faltantes inconsistentes.

    En concreto, revisa:

        PROVINCIA (col 0) — aunque muestra object, probablemente tiene valores numéricos y texto.

        PUNTO_MUESTREO (col 4) — es objeto, podría tener IDs alfanuméricos.

        Las otras dos (40 y 46) quizás correspondan a contaminantes o columnas generadas.

Sugerencia:
Puedes forzar tipos al cargar con dtype= si sabes qué tipo debería tener cada columna. Por ejemplo:

df = pd.read_csv(ruta_combinado, dtype={'PROVINCIA': str, 'PUNTO_MUESTREO': str})

2. Columnas con muchos valores faltantes

    Las columnas D01 a D31 (días del mes) tienen muy pocos datos (como ~50k de 700k filas).

    Esto indica que el archivo tiene filas “anchas” para cada mes (con 31 columnas día) y filas “largas” para cada día con contaminantes.

    Parece que aún tienes datos sin transformar (wide a long) para estas columnas, o mezclaste formatos.

3. Columnas MUNICIPIO, ESTACION, MAGNITUD, ANNO, MES tienen solo ~393k valores no nulos

    La mitad de las filas no tienen valores en esas columnas clave para identificación.

    Esto también indica mezcla de filas de diferente estructura, o que algunas filas son solo valores diarios sin metadatos.

4. No existe columna PM10

    Mencionas que no aparece el contaminante PM10, esto podría ser un problema de nombres o que quedó agrupado en columnas con otro nombre.

    Hay que revisar columnas 40 y 46 que posiblemente sean otros contaminantes.

Próximos pasos sugeridos

    Revisar la estructura del DataFrame: Ver cuántas filas tienen metadatos y cuántas tienen valores de contaminantes. Por ejemplo:

In [25]:
import pandas as pd
import os
from functools import reduce
import re

# Función para procesar CSV 2013 con sep=';'
def procesar_csv_2013(ruta_archivo):
    df = pd.read_csv(ruta_archivo, sep=';')
    id_vars = ['PROVINCIA','MUNICIPIO','ESTACION','MAGNITUD','PUNTO_MUESTREO','ANNO','MES']
    value_vars = [col for col in df.columns if col.startswith('D')]
    df_largo = df.melt(id_vars=id_vars, value_vars=value_vars, var_name='DIA', value_name='VALOR')
    df_largo['DIA'] = df_largo['DIA'].str.extract('D(\d+)').astype(int)
    df_largo['FECHA'] = pd.to_datetime(dict(year=df_largo['ANNO'], month=df_largo['MES'], day=df_largo['DIA']), errors='coerce')
    return df_largo

# Función para leer y combinar todos CSV 2013
def leer_y_combinar_2013(ruta_carpeta_2013):
    archivos_2013 = [f for f in os.listdir(ruta_carpeta_2013) if f.endswith('.csv')]
    dfs_2013 = []
    for archivo in archivos_2013:
        ruta = os.path.join(ruta_carpeta_2013, archivo)
        print(f"Leyendo {ruta}")
        df_largo = procesar_csv_2013(ruta)
        contaminante = archivo.split('_')[0].replace('B(a)P','BaP').replace('PM2.5','PM25').replace('.csv','')
        df_largo = df_largo.rename(columns={'VALOR': contaminante})

        merge_cols = ['PROVINCIA','MUNICIPIO','ESTACION','MAGNITUD','PUNTO_MUESTREO','ANNO','MES','DIA','FECHA']
        cols_para_merge = [c for c in merge_cols if c in df_largo.columns] + [contaminante]
        df_largo = df_largo[cols_para_merge]

        dfs_2013.append(df_largo)
    
    df_2013_combinado = reduce(
        lambda left, right: pd.merge(left, right, on=merge_cols, how='outer'), dfs_2013
    )
    return df_2013_combinado

# Función para procesar Excel 2014-2016 (formato ancho a largo)
def procesar_excel_2014_2016(ruta_archivo):
    df = pd.read_excel(ruta_archivo)
    id_vars = ['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO', 'ANNO', 'MES']
    value_vars = [col for col in df.columns if re.match(r'D\d{2}', col)]
    
    if not value_vars:
        print(f"⚠️ No se encontraron columnas de días en {ruta_archivo}")
        return pd.DataFrame()
    
    df_largo = df.melt(id_vars=id_vars, value_vars=value_vars, var_name='DIA', value_name='VALOR')
    df_largo['DIA'] = df_largo['DIA'].str.extract(r'D(\d{2})').astype(int)
    df_largo['FECHA'] = pd.to_datetime(dict(year=df_largo['ANNO'], month=df_largo['MES'], day=df_largo['DIA']), errors='coerce')
    
    contaminante = os.path.basename(ruta_archivo).split('_')[0]
    contaminante = contaminante.replace('B(a)P','BaP').replace('PM2.5','PM25')
    df_largo = df_largo.rename(columns={'VALOR': contaminante})
    
    cols_requeridas = id_vars + ['DIA', 'FECHA', contaminante]
    df_largo = df_largo[cols_requeridas]
    
    return df_largo

# Función para leer y combinar todos Excel 2014-2016
def leer_excels_2014_2016(ruta_excel_base):
    dfs = []
    for carpeta, _, archivos in os.walk(ruta_excel_base):
        print(f"Procesando carpeta Excel: {carpeta}")
        for archivo in archivos:
            if archivo.endswith('.xlsx') or archivo.endswith('.xls'):
                ruta_archivo = os.path.join(carpeta, archivo)
                print(f" Leyendo archivo: {ruta_archivo}")
                df_procesado = procesar_excel_2014_2016(ruta_archivo)
                if not df_procesado.empty:
                    dfs.append(df_procesado)
    
    if dfs:
        df_excels = pd.concat(dfs, ignore_index=True)
        return df_excels
    else:
        print("No se encontraron archivos Excel válidos para procesar.")
        return pd.DataFrame()

# Función para extraer año del nombre archivo (por si no está en datos)
def extraer_anio_desde_nombre(nombre_archivo):
    match = re.search(r'(20\d{2})', nombre_archivo)
    if match:
        return int(match.group(1))
    return None

# --- EJECUCIÓN PRINCIPAL ---

ruta_carpeta_2013 = "/workspaces/Finarosalina_proyecto_final/data/raw/2013_datos_diarios"
ruta_excel_2014_2016 = "/workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016"
ruta_combinado_actual = "/workspaces/Finarosalina_proyecto_final/data/combined_air_quality_data.csv"
ruta_salida_final = ruta_combinado_actual

print("Leyendo datos combinados existentes...")
df_existente = pd.read_csv(ruta_combinado_actual, sep=';', low_memory=False)

print("\nProcesando archivos CSV 2013...")
df_2013 = leer_y_combinar_2013(ruta_carpeta_2013)

print("\nProcesando archivos Excel 2014-2016...")
df_2014_2016 = leer_excels_2014_2016(ruta_excel_2014_2016)

# Asegurar que 'ANNO' y demás existan (si no, inferir)
for df in [df_2013, df_2014_2016]:
    if 'ANNO' not in df.columns or df['ANNO'].isnull().all():
        print("Atención: Año no detectado en algunos datos, intenta inferirlo")
        # Aquí podrías añadir lógica para inferir año si fuese necesario

# Columnas para merge y concatenar
merge_cols = ['PROVINCIA','MUNICIPIO','ESTACION','MAGNITUD','PUNTO_MUESTREO','ANNO','MES','DIA','FECHA']

def filtrar_columnas(df):
    contaminantes = [c for c in df.columns if c not in merge_cols]
    cols_necesarias = merge_cols + contaminantes
    return df[cols_necesarias]

df_existente = filtrar_columnas(df_existente)
df_2013 = filtrar_columnas(df_2013)
df_2014_2016 = filtrar_columnas(df_2014_2016)

print("\nConcatenando todos los datos...")
df_final = pd.concat([df_existente, df_2013, df_2014_2016], ignore_index=True)

print(f"\nGuardando archivo combinado actualizado en {ruta_salida_final} ...")
df_final.to_csv(ruta_salida_final, sep=';', index=False)

print("Proceso terminado con éxito.")

Leyendo datos combinados existentes...

Procesando archivos CSV 2013...
Leyendo /workspaces/Finarosalina_proyecto_final/data/raw/2013_datos_diarios/Pb_2013_DD.csv
Leyendo /workspaces/Finarosalina_proyecto_final/data/raw/2013_datos_diarios/Ni_2013_DD.csv
Leyendo /workspaces/Finarosalina_proyecto_final/data/raw/2013_datos_diarios/BaP_2013_DD.csv
Leyendo /workspaces/Finarosalina_proyecto_final/data/raw/2013_datos_diarios/Cd_2013_DD.csv
Leyendo /workspaces/Finarosalina_proyecto_final/data/raw/2013_datos_diarios/PM2.5_2013_DD.csv
Leyendo /workspaces/Finarosalina_proyecto_final/data/raw/2013_datos_diarios/As_2013_DD.csv
Leyendo /workspaces/Finarosalina_proyecto_final/data/raw/2013_datos_diarios/PM10_2013_DD.csv

Procesando archivos Excel 2014-2016...
Procesando carpeta Excel: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016
Procesando carpeta Excel: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2015_datos_Diarios
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2015_datos_Diarios/Pb_DD_2015.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2015_datos_Diarios/Cd_DD_2015.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2015_datos_Diarios/As_DD_2015.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2015_datos_Diarios/PM2.5_DD_2015.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2015_datos_Diarios/Ni_DD_2015.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2015_datos_Diarios/B(a)P_DD_2015.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2015_datos_Diarios/PM10_DD_2015.xlsx
Procesando carpeta Excel: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2014_datos_Diarios
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2014_datos_Diarios/Pb_DD_2014.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2014_datos_Diarios/As_DD_2014.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2014_datos_Diarios/B(a)P_DD_2014.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2014_datos_Diarios/Cd_DD_2014.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2014_datos_Diarios/PM10_DD_2014.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2014_datos_Diarios/Ni_DD_2014.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2014_datos_Diarios/PM2.5_DD_2014.xlsx
Procesando carpeta Excel: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2016_datos_Diarios
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2016_datos_Diarios/As_DD_2016.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2016_datos_Diarios/B(a)P_DD_2016.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2016_datos_Diarios/PM10_DD_2016.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2016_datos_Diarios/Cd_DD_2016.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2016_datos_Diarios/Ni_DD_2016.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2016_datos_Diarios/Pb_DD_2016.xlsx
 Leyendo archivo: /workspaces/Finarosalina_proyecto_final/data/raw/excel_2014_2016/2016_datos_Diarios/PM25_DD_2016.xlsx

Concatenando todos los datos...

Guardando archivo combinado actualizado en /workspaces/Finarosalina_proyecto_final/data/combined_air_quality_data.csv ...
Proceso terminado con éxito.

In [26]:
# Mostrar las primeras filas para ver estructura
print("Primeras 5 filas:")
print(df_final.head())

# Mostrar información general: columnas, tipos y memoria
print("\nInformación general:")
print(df_final.info())

# Estadísticas descriptivas para las columnas numéricas
print("\nEstadísticas descriptivas:")
print(df_final.describe())

# Conteo de valores nulos por columna
print("\nValores nulos por columna:")
print(df_final.isnull().sum())

# Mostrar columnas del dataframe
print("\nColumnas presentes:")
print(df_final.columns.tolist())

Primeras 5 filas:
   PROVINCIA  MUNICIPIO  ESTACION  MAGNITUD PUNTO_MUESTREO  ANNO  MES  DIA  \
0        NaN        NaN       NaN       NaN            NaN   NaN  NaN  NaN
1        NaN        NaN       NaN       NaN            NaN   NaN  NaN  NaN
2        NaN        NaN       NaN       NaN            NaN   NaN  NaN  NaN
3        NaN        NaN       NaN       NaN            NaN   NaN  NaN  NaN
4        NaN        NaN       NaN       NaN            NaN   NaN  NaN  NaN

  FECHA  \
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

  PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,D01,D02,D03,D04,D05,D06,D07,D08,D09,D10,D11,D12,D13,D14,D15,D16,D17,D18,D19,D20,D21,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31,DIA,Pb,FECHA,Ni,BaP,Cd,PM25,As,PM10  \
0  3,2,2,9,03002002_9_M,2019,1,,,,,,,,,,,,,,,,,,,...
1  3,2,2,9,03002002_9_M,2019,2,30.0,35.0,12.0,15....
2  3,2,2,9,03002002_9_M,2019,3,11.0,21.0,18.0,12....
3  3,2,2,9,03002002_9_M,2019,4,7.0,12.0,20.0,,,,,...
4  3,2,2,9,03002002_9_M,2019,5,6.0,,,,,,,,,,,,,,,...

   ...  D22  D23  D24  D25  D26  D27  D28  D29  D30  D31
0  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 48 columns]

Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1843777 entries, 0 to 1843776
Data columns (total 48 columns):
 #   Column                                                                                                                                                                                                                         Dtype
---  ------                                                                                                                                                                                                                         -----
 0   PROVINCIA                                                                                                                                                                                                                      float64
 1   MUNICIPIO                                                                                                                                                                                                                      float64
 2   ESTACION                                                                                                                                                                                                                       float64
 3   MAGNITUD                                                                                                                                                                                                                       float64
 4   PUNTO_MUESTREO                                                                                                                                                                                                                 object
 5   ANNO                                                                                                                                                                                                                           float64
 6   MES                                                                                                                                                                                                                            float64
 7   DIA                                                                                                                                                                                                                            float64
 8   FECHA                                                                                                                                                                                                                          object
 9   PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,D01,D02,D03,D04,D05,D06,D07,D08,D09,D10,D11,D12,D13,D14,D15,D16,D17,D18,D19,D20,D21,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31,DIA,Pb,FECHA,Ni,BaP,Cd,PM25,As,PM10  object
 10  Pb                                                                                                                                                                                                                             float64
 11  Ni                                                                                                                                                                                                                             float64
 12  BaP                                                                                                                                                                                                                            float64
 13  Cd                                                                                                                                                                                                                             float64
 14  PM25                                                                                                                                                                                                                           float64
 15  As                                                                                                                                                                                                                             float64
 16  PM10                                                                                                                                                                                                                           float64
 17  D01                                                                                                                                                                                                                            float64
 18  D02                                                                                                                                                                                                                            float64
 19  D03                                                                                                                                                                                                                            float64
 20  D04                                                                                                                                                                                                                            float64
 21  D05                                                                                                                                                                                                                            float64
 22  D06                                                                                                                                                                                                                            float64
 23  D07                                                                                                                                                                                                                            float64
 24  D08                                                                                                                                                                                                                            float64
 25  D09                                                                                                                                                                                                                            float64
 26  D10                                                                                                                                                                                                                            float64
 27  D11                                                                                                                                                                                                                            float64
 28  D12                                                                                                                                                                                                                            float64
 29  D13                                                                                                                                                                                                                            float64
 30  D14                                                                                                                                                                                                                            float64
 31  D15                                                                                                                                                                                                                            float64
 32  D16                                                                                                                                                                                                                            float64
 33  D17                                                                                                                                                                                                                            float64
 34  D18                                                                                                                                                                                                                            float64
 35  D19                                                                                                                                                                                                                            float64
 36  D20                                                                                                                                                                                                                            float64
 37  D21                                                                                                                                                                                                                            float64
 38  D22                                                                                                                                                                                                                            float64
 39  D23                                                                                                                                                                                                                            float64
 40  D24                                                                                                                                                                                                                            float64
 41  D25                                                                                                                                                                                                                            float64
 42  D26                                                                                                                                                                                                                            float64
 43  D27                                                                                                                                                                                                                            float64
 44  D28                                                                                                                                                                                                                            float64
 45  D29                                                                                                                                                                                                                            float64
 46  D30                                                                                                                                                                                                                            float64
 47  D31                                                                                                                                                                                                                            float64
dtypes: float64(45), object(3)
memory usage: 675.2+ MB
None

Estadísticas descriptivas:
          PROVINCIA     MUNICIPIO      ESTACION      MAGNITUD          ANNO  \
count  1.450328e+06  1.450328e+06  1.450328e+06  1.450328e+06  1.450328e+06
mean   1.859495e+01  9.113118e+01  5.000546e+01  2.303273e+01  2.014207e+03
std    1.421619e+01  1.011403e+02  1.973090e+02  1.679684e+01  1.147868e+00
min    1.000000e+00  2.000000e+00  1.000000e+00  9.000000e+00  2.013000e+03
25%    8.000000e+00  2.100000e+01  2.000000e+00  1.000000e+01  2.013000e+03
50%    1.200000e+01  5.900000e+01  5.000000e+00  1.700000e+01  2.014000e+03
75%    2.800000e+01  1.250000e+02  9.000000e+00  2.800000e+01  2.015000e+03
max    5.000000e+01  9.020000e+02  9.990000e+02  6.200000e+01  2.016000e+03

                MES           DIA            Pb            Ni           BaP  \
count  1.450328e+06  1.422435e+06  61627.000000  58666.000000  26012.000000
mean   6.520717e+00  1.600000e+01      0.012393      3.358118      0.164024
std    3.439100e+00  8.944275e+00      0.128110      4.755292      0.419598
min    1.000000e+00  1.000000e+00      0.000000      0.000000      0.000000
25%    4.000000e+00  8.000000e+00      0.001800      1.400000      0.050000
50%    7.000000e+00  1.600000e+01      0.010000      2.160000      0.060000
75%    1.000000e+01  2.400000e+01      0.010000      3.800000      0.140000
max    1.200000e+01  3.100000e+01     18.200000    148.000000     15.030000

       ...           D22           D23           D24           D25  \
count  ...  10702.000000  10537.000000  10462.000000  10172.000000
mean   ...     10.058110      9.924164      9.353078      9.370711
std    ...     16.810604     14.158309     12.099159     12.107116
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...      0.200000      0.220000      0.200000      0.200000
50%    ...      4.000000      4.600000      4.000000      4.000000
75%    ...     15.500000     15.200000     15.000000     15.100000
max    ...    691.000000    269.000000    184.500000    152.000000

                D26           D27           D28          D29          D30  \
count  10661.000000  10337.000000  10219.000000  9935.000000  9418.000000
mean       9.238377      8.909599      8.978516     8.997653     9.489386
std       11.603540     11.136522     11.682556    11.387060    12.279958
min        0.000000      0.000000      0.000000     0.000000     0.000000
25%        0.200000      0.200000      0.200000     0.200000     0.200000
50%        4.000000      4.000000      4.000000     4.000000     4.000000
75%       16.000000     15.000000     15.000000    15.335000    16.000000
max      113.000000    139.000000    241.300000   152.000000   139.900000

               D31
count  5583.000000
mean      9.527452
std      11.833029
min       0.000000
25%       0.210000
50%       4.100000
75%      16.000000
max     102.300000

[8 rows x 45 columns]

Valores nulos por columna:
PROVINCIA                                                                                                                                                                                                                         393449
MUNICIPIO                                                                                                                                                                                                                         393449
ESTACION                                                                                                                                                                                                                          393449
MAGNITUD                                                                                                                                                                                                                          393449
PUNTO_MUESTREO                                                                                                                                                                                                                    393449
ANNO                                                                                                                                                                                                                              393449
MES                                                                                                                                                                                                                               393449
DIA                                                                                                                                                                                                                               421342
FECHA                                                                                                                                                                                                                             447474
PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,D01,D02,D03,D04,D05,D06,D07,D08,D09,D10,D11,D12,D13,D14,D15,D16,D17,D18,D19,D20,D21,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31,DIA,Pb,FECHA,Ni,BaP,Cd,PM25,As,PM10    1450328
Pb                                                                                                                                                                                                                               1782150
Ni                                                                                                                                                                                                                               1785111
BaP                                                                                                                                                                                                                              1817765
Cd                                                                                                                                                                                                                               1784768
PM25                                                                                                                                                                                                                             1752931

In [27]:
df_final.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,DIA,FECHA,"PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,D01,D02,D03,D04,D05,D06,D07,D08,D09,D10,D11,D12,D13,D14,D15,D16,D17,D18,D19,D20,D21,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31,DIA,Pb,FECHA,Ni,BaP,Cd,PM25,As,PM10",...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,2,2,9,03002002_9_M,2019,1,,,,,,,,,,,,,,,,,,,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,2,2,9,03002002_9_M,2019,2,30.0,35.0,12.0,15....",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,2,2,9,03002002_9_M,2019,3,11.0,21.0,18.0,12....",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,2,2,9,03002002_9_M,2019,4,7.0,12.0,20.0,,,,,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,2,2,9,03002002_9_M,2019,5,6.0,,,,,,,,,,,,,,,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Nombre exacto de la columna que sobra
col_borra = 'PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,D01,D02,D03,D04,D05,D06,D07,D08,D09,D10,D11,D12,D13,D14,D15,D16,D17,D18,D19,D20,D21,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31,DIA,Pb,FECHA,Ni,BaP,Cd,PM25,As,PM10'

if col_borra in df_final.columns:
    df_final = df_final.drop(columns=[col_borra])

# Eliminar filas donde todas estas columnas clave estén vacías (NaN)
df_final = df_final.dropna(subset=['PROVINCIA', 'MUNICIPIO', 'ESTACION'], how='all')

# Revisa el DataFrame limpio
print(df_final.head())
print(df_final.info())
print(df_final.isna().sum())

        PROVINCIA  MUNICIPIO  ESTACION  MAGNITUD PUNTO_MUESTREO    ANNO  MES  \
393449        1.0       59.0       9.0      10.0  01059009_10_M  2013.0  1.0
393450        1.0       59.0       9.0      10.0  01059009_10_M  2013.0  1.0
393451        1.0       59.0       9.0      10.0  01059009_10_M  2013.0  1.0
393452        1.0       59.0       9.0      10.0  01059009_10_M  2013.0  1.0
393453        1.0       59.0       9.0      10.0  01059009_10_M  2013.0  1.0

        DIA       FECHA  Pb  ...  D22  D23  D24  D25  D26  D27  D28  D29  D30  \
393449  1.0  2013-01-01 NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
393450  2.0  2013-01-02 NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
393451  3.0  2013-01-03 NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
393452  4.0  2013-01-04 NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
393453  5.0  2013-01-05 NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

        D31
393449  NaN
393450  NaN
393451  NaN
393452  NaN
393453  NaN

[5 rows x 47 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 1450328 entries, 393449 to 1843776
Data columns (total 47 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   PROVINCIA       1450328 non-null  float64
 1   MUNICIPIO       1450328 non-null  float64
 2   ESTACION        1450328 non-null  float64
 3   MAGNITUD        1450328 non-null  float64
 4   PUNTO_MUESTREO  1450328 non-null  object
 5   ANNO            1450328 non-null  float64
 6   MES             1450328 non-null  float64
 7   DIA             1422435 non-null  float64
 8   FECHA           1396303 non-null  object
 9   Pb              61627 non-null    float64
 10  Ni              58666 non-null    float64
 11  BaP             26012 non-null    float64
 12  Cd              59009 non-null    float64
 13  PM25            90846 non-null    float64
 14  As              59066 non-null    float64
 15  PM10            198864 non-null   float64
 16  D01             9812 non-null     float64
 17  D02             11008 non-null    float64
 18  D03             10843 non-null    float64
 19  D04             10307 non-null    float64
 20  D05             10527 non-null    float64
 21  D06             10239 non-null    float64
 22  D07             10608 non-null    float64
 23  D08             10464 non-null    float64
 24  D09             10947 non-null    float64
 25  D10             10739 non-null    float64
 26  D11             10994 non-null    float64
 27  D12             11045 non-null    float64
 28  D13             10697 non-null    float64
 29  D14             11513 non-null    float64
 30  D15             10943 non-null    float64
 31  D16             10801 non-null    float64
 32  D17             10878 non-null    float64
 33  D18             10630 non-null    float64
 34  D19             11087 non-null    float64
 35  D20             10991 non-null    float64
 36  D21             10851 non-null    float64
 37  D22             10702 non-null    float64
 38  D23             10537 non-null    float64
 39  D24             10462 non-null    float64
 40  D25             10172 non-null    float64
 41  D26             10661 non-null    float64
 42  D27             10337 non-null    float64
 43  D28             10219 non-null    float64
 44  D29             9935 non-null     float64
 45  D30             9418 non-null     float64
 46  D31             5583 non-null     float64
dtypes: float64(45), object(2)
memory usage: 531.1+ MB
None
PROVINCIA               0
MUNICIPIO               0
ESTACION                0
MAGNITUD                0
PUNTO_MUESTREO          0
ANNO                    0
MES                     0
DIA                 27893
FECHA               54025
Pb                1388701
Ni                1391662
BaP               1424316
Cd                1391319
PM25              1359482
As                1391262
PM10              1251464
D01               1440516
D02               1439320
D03               1439485
D04               1440021
D05               1439801
D06               1440089
D07               1439720
D08               1439864
D09               1439381
D10               1439589
D11               1439334
D12               1439283
D13               1439631
D14               1438815
D15               1439385
D16               1439527
D17               1439450
D18               1439698
D19               1439241
D20               1439337
D21               1439477
D22               1439626
D23               1439791
D24               1439866
D25               1440156
D26               1439667
D27               1439991
D28               1440109
D29               1440393
D30               1440910
D31               1444745
dtype: int64

 DataFrame limpio y cargado (más de 1.4 millones de filas) con las columnas importantes, y con muchas columnas de días D01–D31 y contaminantes como Pb, Ni, BaP, etc.

Para resumir un poco:

    La tabla tiene 47 columnas.

    Hay bastantes nulos en las columnas diarias (D01 a D31).

    Algunos contaminantes tienen valores NaN (por ejemplo Pb).

    Las columnas clave (PROVINCIA, MUNICIPIO, ESTACION, ANNO, MES, DIA, FECHA) están presentes y bien cargadas.

    Revisar porcentaje de nulos por columna (te ayuda a decidir si imputar o eliminar):

nulos_pct = df_final.isna().mean() * 100
print(nulos_pct.sort_values(ascending=False))

    Opcional: rellenar valores faltantes según el contexto (media, interpolación, etc.), por ejemplo para Pb:

df_final['Pb'] = df_final['Pb'].fillna(method='ffill')  # o con otra estrategia

    Confirmar tipos de datos para optimizar memoria y evitar errores:

print(df_final.dtypes)

    Exploración rápida: número de estaciones, años, contaminantes.

print("Estaciones únicas:", df_final['ESTACION'].nunique())
print("Años:", df_final['ANNO'].unique())
print("Contaminantes muestreados:", ['Pb', 'Ni', 'BaP', 'Cd', 'PM25', 'As', 'PM10'])

In [31]:
# 1. Eliminar las columnas D01 a D31 si existen
cols_d = [f'D{i:02d}' for i in range(1, 32)]
cols_to_drop = [col for col in cols_d if col in df_final.columns]
df_final = df_final.drop(columns=cols_to_drop)

# 2. revisar si las columnas DIA y FECHA están y no tienen valores nulos
print(df_final[['DIA', 'FECHA']].info())

# 3. Guardar el DataFrame limpio en CSV
output_path = '/workspaces/Finarosalina_proyecto_final/data/cleaned_air_quality_data.csv'
df_final.to_csv(output_path, index=False)

print(f'DataFrame limpio guardado en: {output_path}')

<class 'pandas.core.frame.DataFrame'>
Index: 1450328 entries, 393449 to 1843776
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   DIA     1422435 non-null  float64
 1   FECHA   1396303 non-null  object
dtypes: float64(1), object(1)
memory usage: 33.2+ MB
None
DataFrame limpio guardado en: /workspaces/Finarosalina_proyecto_final/data/cleaned_air_quality_data.csv

In [32]:
df_final.tail()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,DIA,FECHA,Pb,Ni,BaP,Cd,PM25,As,PM10
1843772,7.0,40.0,5.0,9.0,07040005_9_M,2016.0,10.0,31.0,2016-10-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1843773,7.0,40.0,5.0,9.0,07040005_9_M,2016.0,11.0,31.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1843774,7.0,40.0,5.0,9.0,07040005_9_M,2016.0,12.0,31.0,2016-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1843775,22.0,158.0,2.0,9.0,22158002_9_M,2016.0,1.0,31.0,2016-01-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1843776,22.0,158.0,2.0,9.0,22158002_9_M,2016.0,12.0,31.0,2016-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
print(df_final['MAGNITUD'].value_counts())

MAGNITUD
10.0    338690
19.0    202942
17.0    197322
28.0    197096
62.0    195406
9.0     190870
27.0    128002
Name: count, dtype: int64

In [36]:
magnitud_dict = {
    9: 'PM2.5',
    10: 'PM10',
    17: 'As',
    19: 'Pb',
    27: 'BaP',
    28: 'Cd',
    62: 'Ni'
}

In [37]:
df_final['CONTAMINANTE'] = df_final['MAGNITUD'].map(magnitud_dict)

In [39]:
cols_contaminantes = ['Pb', 'Ni', 'BaP', 'Cd', 'PM25', 'As', 'PM10']
df_final = df_final.drop(columns=cols_contaminantes)

In [41]:
df_final.tail()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,DIA,FECHA,CONTAMINANTE
1843772,7.0,40.0,5.0,9.0,07040005_9_M,2016.0,10.0,31.0,2016-10-31 00:00:00,PM2.5
1843773,7.0,40.0,5.0,9.0,07040005_9_M,2016.0,11.0,31.0,NaT,PM2.5
1843774,7.0,40.0,5.0,9.0,07040005_9_M,2016.0,12.0,31.0,2016-12-31 00:00:00,PM2.5
1843775,22.0,158.0,2.0,9.0,22158002_9_M,2016.0,1.0,31.0,2016-01-31 00:00:00,PM2.5
1843776,22.0,158.0,2.0,9.0,22158002_9_M,2016.0,12.0,31.0,2016-12-31 00:00:00,PM2.5