In [8]:
import pandas as pd
import numpy as np
import os
from glob import glob
import calendar
import unicodedata
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

/home/vscode/.local/lib/python3.11/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [4]:
base_path = "/workspaces/Finarosalina_proyecto_final/data/raw"
dfs = []

# Función para extraer año de la carpeta (ejemplo: "2013_Datos_diarios" -> 2013)
def extraer_anno(nombre_carpeta):
    import re
    match = re.search(r'(\d{4})', nombre_carpeta)
    return int(match.group(1)) if match else None

# 1. Leer Excel (2014-2016)
for year_folder in ['2014_datos_Diarios', '2015_datos_Diarios', '2016_datos_Diarios']:
    folder_path = os.path.join(base_path, "2014_2016_Datos_diarios_excel", year_folder)
    anno = extraer_anno(year_folder)
    excel_files = glob(os.path.join(folder_path, "*.xlsx")) + glob(os.path.join(folder_path, "*.xls"))
    for file in excel_files:
        print(f"Leyendo Excel: {file}")
        df = pd.read_excel(file)
        if 'ANNO' not in df.columns:
            df['ANNO'] = anno
        dfs.append(df)

# 2. Leer CSVs (otros años)
years_with_csv = [
    "2013_Datos_diarios", "2017_Datos_diarios", "2018_Datos_diarios",
    "2019_datos_diarios", "2020_Datos_diarios", "2021_Datos_diarios",
    "2022_Datos_diarios", "2023_Datos_diarios"
]

for year_folder in years_with_csv:
    folder_path = os.path.join(base_path, year_folder)
    anno = extraer_anno(year_folder)
    csv_files = glob(os.path.join(folder_path, "*.csv"))
    for file in csv_files:
        print(f"Leyendo CSV: {file}")
        df = pd.read_csv(file, sep=';', encoding='utf-8')
        if 'ANNO' not in df.columns:
            df['ANNO'] = anno
        dfs.append(df)

# Concatenar y guardar
air_data = pd.concat(dfs, ignore_index=True)
output_path = "/workspaces/Finarosalina_proyecto_final/data/air_data.csv"
air_data.to_csv(output_path, index=False, sep=';')
print(f"Archivo combinado guardado en {output_path}")

Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2014_datos_Diarios/Pb_DD_2014.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2014_datos_Diarios/As_DD_2014.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2014_datos_Diarios/B(a)P_DD_2014.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2014_datos_Diarios/Cd_DD_2014.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2014_datos_Diarios/PM10_DD_2014.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2014_datos_Diarios/Ni_DD_2014.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2014_datos_Diarios/PM2.5_DD_2014.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2015_datos_Diarios/Pb_DD_2015.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2015_datos_Diarios/Cd_DD_2015.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2015_datos_Diarios/As_DD_2015.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2015_datos_Diarios/PM2.5_DD_2015.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2015_datos_Diarios/Ni_DD_2015.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2015_datos_Diarios/B(a)P_DD_2015.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2015_datos_Diarios/PM10_DD_2015.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2016_datos_Diarios/As_DD_2016.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2016_datos_Diarios/B(a)P_DD_2016.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2016_datos_Diarios/PM10_DD_2016.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2016_datos_Diarios/Cd_DD_2016.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2016_datos_Diarios/Ni_DD_2016.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2016_datos_Diarios/Pb_DD_2016.xlsx
Leyendo Excel: /workspaces/Finarosalina_proyecto_final/data/raw/2014_2016_Datos_diarios_excel/2016_datos_Diarios/PM25_DD_2016.xlsx
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2013_Datos_diarios/Pb_2013_DD.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2013_Datos_diarios/Ni_2013_DD.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2013_Datos_diarios/BaP_2013_DD.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2013_Datos_diarios/Cd_2013_DD.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2013_Datos_diarios/PM2.5_2013_DD.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2013_Datos_diarios/As_2013_DD.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2013_Datos_diarios/PM10_2013_DD.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2017_Datos_diarios/PM10_DD_2017.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2017_Datos_diarios/B(a)P_DD_2017.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2017_Datos_diarios/PM2.5_DD_2017.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2017_Datos_diarios/As_DD_2017.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2017_Datos_diarios/Pb_DD_2017.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2017_Datos_diarios/Cd_DD_2017.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2017_Datos_diarios/Ni_DD_2017.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2018_Datos_diarios/B(a)P_DD_2018.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2018_Datos_diarios/Cd_DD_2018.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2018_Datos_diarios/Ni_DD_2018.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2018_Datos_diarios/PM2.5_DD_2018.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2018_Datos_diarios/As_DD_2018.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2018_Datos_diarios/PM10_DD_2018.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2018_Datos_diarios/Pb_DD_2018.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2019_datos_diarios/PM25_DD_2019.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2019_datos_diarios/As_DD_2019.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2019_datos_diarios/Cd_DD_2019.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2019_datos_diarios/PM10_DD_2019.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2019_datos_diarios/C6H6_DD_2019.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2019_datos_diarios/Pb_DD_2019.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2019_datos_diarios/BaP_DD_2019.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2019_datos_diarios/Ni_DD_2019.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2020_Datos_diarios/B(a)P_DD_2020.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2020_Datos_diarios/Pb_DD_2020.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2020_Datos_diarios/PM10_DD_2020.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2020_Datos_diarios/PM2.5_DD_2020.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2020_Datos_diarios/Ni_DD_2020.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2020_Datos_diarios/Cd_DD_2020.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2020_Datos_diarios/As_DD_2020.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2020_Datos_diarios/C6H6_DD_2020.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2021_Datos_diarios/PM25_DD_2021.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2021_Datos_diarios/BaP_DD_2021.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2021_Datos_diarios/As_DD_2021.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2021_Datos_diarios/Cd_DD_2021.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2021_Datos_diarios/PM10_DD_2021.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2021_Datos_diarios/Ni_DD_2021.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2021_Datos_diarios/Pb_DD_2021.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2022_Datos_diarios/Ni_DD_2022.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2022_Datos_diarios/PM2.5_DD_2022.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2022_Datos_diarios/B(a)P_DD_2022.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2022_Datos_diarios/Cd_DD_2022.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2022_Datos_diarios/PM10_DD_2022.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2022_Datos_diarios/C6H6_DD_2022.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2022_Datos_diarios/Pb_DD_2022.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2022_Datos_diarios/As_DD_2022.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2023_Datos_diarios/C6H6_DD_2023.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2023_Datos_diarios/PM2.5_DD_2023.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2023_Datos_diarios/PM10_DD_2023.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2023_Datos_diarios/As_DD_2023.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2023_Datos_diarios/Pb_DD_2023.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2023_Datos_diarios/Ni_DD_2023.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2023_Datos_diarios/Cd_DD_2023.csv
Leyendo CSV: /workspaces/Finarosalina_proyecto_final/data/raw/2023_Datos_diarios/B(a)P_DD_2023.csv
Archivo combinado guardado en /workspaces/Finarosalina_proyecto_final/data/air_data.csv

In [11]:
df = pd.read_csv('/workspaces/Finarosalina_proyecto_final/data/processed/air_data.csv', sep=';')

In [12]:
df.head()

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANNO,MES,D01,D02,D03,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,3,9,6,19,03009006_19_M,2014,1,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,0.0
1,3,9,6,19,03009006_19_M,2014,2,NaN,NaN,NaN,...,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,3,9,6,19,03009006_19_M,2014,3,0.0,NaN,0.0,...,0.0,NaN,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0
3,3,9,6,19,03009006_19_M,2014,4,NaN,NaN,0.0,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN
4,3,9,6,19,03009006_19_M,2014,5,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0

In [4]:
df.shape

(123569, 38)

In [13]:
nan_por_columna = df.isna().sum()
print(nan_por_columna)

PROVINCIA             0
MUNICIPIO             0
ESTACION              0
MAGNITUD              0
PUNTO_MUESTREO        0
ANNO                  0
MES                   0
D01               69227
D02               67484
D03               66910
D04               67538
D05               67838
D06               68581
D07               66855
D08               67692
D09               66312
D10               66078
D11               66564
D12               66024
D13               65844
D14               65580
D15               65176
D16               66060
D17               66210
D18               66726
D19               65876
D20               66015
D21               65737
D22               66692
D23               66768
D24               67866
D25               67295
D26               67259
D27               67150
D28               67653
D29               71966
D30               72915
D31               92599
dtype: int64

In [14]:
df.columns

Index(['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO',
       'ANNO', 'MES', 'D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08',
       'D09', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17', 'D18',
       'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26', 'D27', 'D28',
       'D29', 'D30', 'D31'],
      dtype='object')

In [15]:
# Función para validar la fecha
def es_fecha_valida(anno, mes, dia):
    if mes < 1 or mes > 12 or dia < 1:
        return False
    ultimo_dia = calendar.monthrange(anno, mes)[1]  # Obtiene el último día del mes
    return dia <= ultimo_dia  # Comprueba si el día es válido

# Primero, seleccionamos las columnas de días
dias_columnas = [f'D{i:02d}' for i in range(1, 32)]  # ['D01', 'D02', ..., 'D31']

# Aplanamos el DataFrame para que cada fila represente un día
df = df.melt(id_vars=['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'PUNTO_MUESTREO', 'ANNO', 'MES'],
             value_vars=dias_columnas,
             var_name='DIA', value_name='VALOR')

# Extraer el número de día de la columna 'DIA'
df['DIA'] = df['DIA'].str.extract(r'D(\d+)').astype(int)

# Aplicamos la validación de la fecha para cada fila
df['fecha_valida'] = df.apply(lambda row: es_fecha_valida(row['ANNO'], row['MES'], row['DIA']), axis=1)

# Filtramos las filas que tengan fecha válida
df = df[df['fecha_valida']]

# Verificar si alguna columna tiene valores nulos o vacíos antes de convertir a fecha
print("Valores nulos en columnas ANNO, MES, DIA antes de crear la columna FECHA:")
print(df[['ANNO', 'MES', 'DIA']].isna().sum())

# Filtrar filas con valores nulos en ANNO, MES o DIA
df = df.dropna(subset=['ANNO', 'MES', 'DIA'])

# Crear la columna FECHA usando las columnas 'ANNO', 'MES', y 'DIA'
df['FECHA'] = pd.to_datetime(df[['ANNO', 'MES', 'DIA']].astype(str).agg('-'.join, axis=1))

# Ya podemos eliminar la columna auxiliar 'fecha_valida'
df.drop(columns=['fecha_valida'], inplace=True)

# Mostrar el DataFrame final
print(df.head())

Valores nulos en columnas ANNO, MES, DIA antes de crear la columna FECHA:
ANNO    0
MES     0
DIA     0
dtype: int64
   PROVINCIA  MUNICIPIO  ESTACION  MAGNITUD PUNTO_MUESTREO  ANNO  MES  DIA  \
0          3          9         6        19  03009006_19_M  2014    1    1
1          3          9         6        19  03009006_19_M  2014    2    1
2          3          9         6        19  03009006_19_M  2014    3    1
3          3          9         6        19  03009006_19_M  2014    4    1
4          3          9         6        19  03009006_19_M  2014    5    1

   VALOR      FECHA
0    NaN 2014-01-01
1    NaN 2014-02-01
2    0.0 2014-03-01
3    NaN 2014-04-01
4    NaN 2014-05-01

In [22]:
df.shape

(3760021, 10)

In [33]:
# que sea string
df['PUNTO_MUESTREO'] = df['PUNTO_MUESTREO'].astype(str)

# Extraer la clave: primeros 5 dígitos (provincia + municipio)
df['PUNTO_MUESTREO'] = df['PUNTO_MUESTREO'].astype(str)

# Extraer la clave como los primeros 5 dígitos del campo
df['CLAVE'] = df['PUNTO_MUESTREO'].str.extract(r'(\d{5})')

In [34]:
import pandas as pd
import unidecode

# === 1. Cargar diccionario de municipios desde Excel ===
df_dic = pd.read_excel(
    '/workspaces/Finarosalina_proyecto_final/data/raw/diccionario23.xlsx',
    skiprows=1,  # Saltar primera fila de paja
    dtype={'CPRO': str, 'CMUN': str}  # Asegurar lectura como texto
)

# Asegurar formato correcto de códigos
df_dic['CPRO'] = df_dic['CPRO'].str.zfill(2)
df_dic['CMUN'] = df_dic['CMUN'].str.zfill(3)
df_dic['CLAVE'] = df_dic['CPRO'] + df_dic['CMUN']

# Normalizar nombres para que no tengan tildes ni caracteres especiales
df_dic['NOMBRE_NORMALIZADO'] = df_dic['NOMBRE '].apply(lambda x: unidecode.unidecode(str(x)).strip())

# === 2. Diccionario de capitales de provincia ===
capitales_mun_dict = {
    '0159': 'Vitoria Gasteiz', '02003': 'Albacete', '0314': 'Alacant Alicante', '0413': 'Almeria', '0519': 'Avila',
    '15': 'Badajoz', '0740': 'Palma', '19': 'Barcelona', '0959': 'Burgos', '37': 'Caceres',
    '12': 'Cadiz', '1240': 'Castello de la Plana', '13': 'Ciudad Real', '14': 'Cordoba',
    '15': 'Coruna', '16': 'Cuenca', '17': 'Girona', '18': 'Granada', '19': 'Guadalajara',
    '20': 'San Sebastian', '21': 'Huelva', '22': 'Huesca', '23': 'Jaen', '24': 'Leon',
    '25': 'Lleida', '26': 'Logrono', '27': 'Lugo', '28': 'Madrid', '29': 'Malaga',
    '30': 'Murcia', '31': 'Pamplona', '32': 'Ourense', '33': 'Oviedo', '34': 'Palencia',
    '35': 'Las Palmas', '36': 'Pontevedra', '37': 'Salamanca', '38': 'Santa Cruz de Tenerife',
    '39': 'Santander', '40': 'Segovia', '41': 'Sevilla', '42': 'Soria', '43': 'Tarragona',
    '44': 'Teruel', '45': 'Toledo', '46': 'Valencia', '47': 'Valladolid', '48': 'Bilbao',
    '49': 'Zamora', '50': 'Zaragoza', '51': 'Ceuta', '52': 'Melilla'
}

# Crear diccionario final: claves válidas del Excel que estén en el dict de capitales
diccionario_capitales = {
    clave: capitales_mun_dict[clave]
    for clave in df_dic['CLAVE']
    if clave in capitales_mun_dict
}

In [38]:

df_capitales = df[df['CLAVE'].isin(diccionario_capitales.keys())].copy()

# Añadir nombre de la capital

df['NOMBRE_CAPITAL'] = df['CLAVE'].map(diccionario_capitales)
df_capitales = df[df['NOMBRE_CAPITAL'].notna()].copy()

In [39]:
df_capitales = df[df['PUNTO_MUESTREO'].str[:5].isin(diccionario_capitales.keys())].copy()

In [41]:
df_capitales.shape

(16505, 12)

In [42]:
# Ver la forma (filas, columnas)
print("Shape df_capitales:", df_capitales.shape)

# Cantidad de valores nulos por columna
print("\nValores nulos por columna:")
print(df_capitales.isnull().sum())

Shape df_capitales: (16505, 12)

Valores nulos por columna:
PROVINCIA             0
MUNICIPIO             0
ESTACION              0
MAGNITUD              0
PUNTO_MUESTREO        0
ANNO                  0
MES                   0
DIA                   0
VALOR             10347
FECHA                 0
CLAVE                 0
NOMBRE_CAPITAL        0
dtype: int64

In [44]:
# Diccionario de nombres contaminantes
magnitud_dict = {
    9: 'PM2.5',
    10: 'PM10',
    17: 'As',
    19: 'Pb',
    27: 'BaP',
    28: 'Cd',
    62: 'Ni'
}

# Mapear nombre del contaminante
df_capitales['MAGNITUD_NOMBRE'] = df_capitales['MAGNITUD'].map(magnitud_dict)

# Filtrar filas que tienen valor y contaminante reconocido
df_filtrado = df_capitales[
    df_capitales['VALOR'].notnull() &
    df_capitales['MAGNITUD_NOMBRE'].notnull()
]

# Pivotar para tener cada contaminante como columna
df_contaminantes = df_filtrado.pivot_table(
    index=['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'PUNTO_MUESTREO', 'ANNO', 'MES', 'DIA', 'FECHA', 'NOMBRE_CAPITAL'],
    columns='MAGNITUD_NOMBRE',
    values='VALOR',
    aggfunc='first'  # O 'mean' si hay múltiples valores
).reset_index()

# Limpiar el nombre del índice de columnas creado por pivot_table
df_contaminantes.columns.name = None

df_contaminantes.head()

,PROVINCIA,MUNICIPIO,ESTACION,PUNTO_MUESTREO,ANNO,MES,DIA,FECHA,NOMBRE_CAPITAL,As,BaP,Cd,Ni,PM10,PM2.5,Pb
0,2,3,1,02003001_10_49,2017,1,1,2017-01-01,Albacete,NaN,NaN,NaN,NaN,27.0,NaN,NaN
1,2,3,1,02003001_10_49,2017,1,2,2017-01-02,Albacete,NaN,NaN,NaN,NaN,21.0,NaN,NaN
2,2,3,1,02003001_10_49,2017,1,3,2017-01-03,Albacete,NaN,NaN,NaN,NaN,32.0,NaN,NaN
3,2,3,1,02003001_10_49,2017,1,6,2017-01-06,Albacete,NaN,NaN,NaN,NaN,25.0,NaN,NaN
4,2,3,1,02003001_10_49,2017,1,7,2017-01-07,Albacete,NaN,NaN,NaN,NaN,24.0,NaN,NaN

In [45]:
# la columna punto_muestreo contiene codigo provincia(2)+codigo municipio(3)+estacion(3)
df_contaminantes = df_contaminantes.drop(columns=['PROVINCIA', 'MUNICIPIO', 'ESTACION'])

In [46]:
df_contaminantes.head()

,PUNTO_MUESTREO,ANNO,MES,DIA,FECHA,NOMBRE_CAPITAL,As,BaP,Cd,Ni,PM10,PM2.5,Pb
0,02003001_10_49,2017,1,1,2017-01-01,Albacete,NaN,NaN,NaN,NaN,27.0,NaN,NaN
1,02003001_10_49,2017,1,2,2017-01-02,Albacete,NaN,NaN,NaN,NaN,21.0,NaN,NaN
2,02003001_10_49,2017,1,3,2017-01-03,Albacete,NaN,NaN,NaN,NaN,32.0,NaN,NaN
3,02003001_10_49,2017,1,6,2017-01-06,Albacete,NaN,NaN,NaN,NaN,25.0,NaN,NaN
4,02003001_10_49,2017,1,7,2017-01-07,Albacete,NaN,NaN,NaN,NaN,24.0,NaN,NaN

In [51]:
df_contaminantes.shape

(6158, 13)

In [ ]:
# https://www.miteco.gob.es/es/calidad-y-evaluacion-ambiental/temas/atmosfera-y-calidad-del-aire/evaluacion-y-datos-de-calidad-del-aire/datos.html
# hemos encontrado un plan de muestreo segun el que no se tienen que medir todos los contaminantes en todas las zonas

# 1. Cargar el plan de medición
df_plan_medicion = pd.read_excel('/workspaces/Finarosalina_proyecto_final/data/raw/plan_medicion_2022_por_zona.xlsx')

# 2. Ver las primeras filas para entender su estructura
print(df_plan_medicion.head())

# 3. Mostrar columnas para conocer las variables que miden (por ejemplo SO2, NO2, PM10...)
print(df_plan_medicion.columns)

# no podemos relacionarlo con nuestro data set pq no hay codigos unicos que lo hagan.

        CCAA                            NOMBRE_ZONA CODIGO_ZONA          TIPO  \
0  ANDALUCÍA  ZONA INDUSTRIAL DE BAHIA DE ALGECIRAS      ES0104          zona
1  ANDALUCÍA              ZONA INDUSTRIAL DE BAILEN      ES0108          zona
2  ANDALUCÍA                                CORDOBA      ES0111  aglomeracion
3  ANDALUCÍA          ZONA INDUSTRIAL DE CARBONERAS      ES0116          zona
4  ANDALUCÍA           GRANADA Y AREA METROPOLITANA      ES0118  aglomeracion

     AREA  POBLACION  SO2  SO2_E  NO2  NOX_V  ...  PM25   PB  C6H6   CO   O3  \
0  583.50     242508  1.0    NaN  1.0    NaN  ...   1.0  1.0   1.0  1.0  1.0
1  121.01      17498  1.0    NaN  1.0    NaN  ...   1.0  1.0   1.0  1.0  1.0
2  141.03     322071  1.0    NaN  1.0    NaN  ...   1.0  1.0   1.0  1.0  1.0
3  695.01      39641  1.0    NaN  1.0    NaN  ...   1.0  1.0   1.0  1.0  1.0
4  560.74     500735  1.0    NaN  1.0    NaN  ...   1.0  1.0   1.0  1.0  1.0

   'AS'   CD   NI  BAP  O3_V
0   1.0  1.0  1.0  1.0   1.0
1   1.0  1.0  1.0  1.0   NaN
2   1.0  1.0  1.0  1.0   1.0
3   1.0  1.0  1.0  1.0   1.0
4   1.0  1.0  1.0  1.0   1.0

[5 rows x 21 columns]
Index(['CCAA', 'NOMBRE_ZONA', 'CODIGO_ZONA', 'TIPO', 'AREA', 'POBLACION',
       'SO2', 'SO2_E', 'NO2', 'NOX_V', 'PM10', 'PM25', 'PB', 'C6H6', 'CO',
       'O3', ''AS'', 'CD', 'NI', 'BAP', 'O3_V'],
      dtype='object')

In [57]:
def calcular_ica(row):
    # Umbrales
    umbrales_bajos = {'As': 1, 'BaP': 0.1, 'Cd': 0.5, 'Ni': 1, 'PM10': 20, 'PM2.5': 10, 'Pb': 0.5}
    umbrales_altos = {'As': 5, 'BaP': 0.5, 'Cd': 1.0, 'Ni': 5, 'PM10': 50, 'PM2.5': 25, 'Pb': 1.5}

    calidad = 1  # Empezamos en buena calidad

    for c in umbrales_bajos.keys():
        valor = row.get(c, float('nan'))
        if pd.isna(valor):
            continue  # ignoramos valores NaN

        if valor > umbrales_altos[c]:
            return 3  # Mala calidad, primer umbral alto superado
        elif valor > umbrales_bajos[c]:
            calidad = max(calidad, 2)  # Calidad moderada si supera umbral bajo

    return calidad

# Aplicar al dataframe
df_contaminantes['ICA'] = df_contaminantes.apply(calcular_ica, axis=1)

In [58]:
df_contaminantes.head()

,PUNTO_MUESTREO,ANNO,MES,DIA,FECHA,NOMBRE_CAPITAL,As,BaP,Cd,Ni,PM10,PM2.5,Pb,ICA
0,02003001_10_49,2017,1,1,2017-01-01,Albacete,NaN,NaN,NaN,NaN,27.0,NaN,NaN,2
1,02003001_10_49,2017,1,2,2017-01-02,Albacete,NaN,NaN,NaN,NaN,21.0,NaN,NaN,2
2,02003001_10_49,2017,1,3,2017-01-03,Albacete,NaN,NaN,NaN,NaN,32.0,NaN,NaN,2
3,02003001_10_49,2017,1,6,2017-01-06,Albacete,NaN,NaN,NaN,NaN,25.0,NaN,NaN,2
4,02003001_10_49,2017,1,7,2017-01-07,Albacete,NaN,NaN,NaN,NaN,24.0,NaN,NaN,2

In [59]:
df_contaminantes.to_csv('/workspaces/Finarosalina_proyecto_final/data/processed/df_contaminantes_processed.csv', index=False)